<!DOCTYPE html>
<html ng-app="behatBrowser">
<head>
  <title>Behat Browser</title>
  <!-- Bootstrap -->    
  <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
  {% stylesheets
        '@BehatBrowserCoreBundle/Resources/public/less/main.less'
  %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
  <script src="{{ asset('js/angular.js') }}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.1/angular-strap.min.js"></script>
</head>
<body {% block bodyAttributes %}{% endblock %}>
  {% block body %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          {% block sidebar %}
          {% endblock %}
        </div>
        <div class="span10">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>    
    {% block endscript %}
    {% endblock endscript %}

  {% endblock %}
</body>
</html>
